@import '../../../../global-styles/variables';
@import '../../../../global-styles/mixins';

.rule {
  @include centered;
  @include border;
  background-color: $primary-color-dark;
  box-shadow: $box-shadow;
  color: $primary-color-light;
  flex-flow: column;
  flex: 1;
  height: 60vh;
  margin: .8rem;
  max-height: 700px;
  max-width: 400px;
  padding: 5rem 2rem 2rem;
  position: relative;
  h2 {
    @include headingOverlap;
  }
  p {
    text-align: center;
  }
  &__icon {
    margin: 2rem 0;
    text-align: center;
  }
}
