@import '../../../../global-styles/_variables';

.rule {
  align-items: center;
  background-color: $primary-color-dark;
  border: 2px solid #fff;
  border-radius: $bradius;
  box-shadow: $box-shadow;
  color: $primary-color-light;
  display: flex;
  flex-flow: column;
  flex: 1;
  justify-content: flex-end;
  min-height: 60vh;
  margin: .8rem;
  max-width: 400px;
  padding: 5rem 2rem 2rem;
  position: relative;
  h2 {
    background-color: $accent-color;
    box-shadow: $box-shadow;
    left: 0;
    padding: .4rem .8rem;
    position: absolute;
    top: 10%;
    width: 35%;
  }
  p {
    text-align: center;
  }
  &__icon {
    margin: 2rem 0;
    text-align: center;
  }
}
