@import '../../../../global-styles/_variables';

@keyframes appearDescription {
  from { opacity: 0; }
  to { opacity: 1; }
}

.imageDescription {
  animation: appearDescription 2s;
  animation-fill-mode: forwards;
  background-color: $primary-color-light;
  box-shadow: 2px 2px 7px rgba(0,0,0,.4);
  color: $primary-color-text;
  font-family: $primary-font;
  font-weight: 400;
  margin-top: .8rem;
  opacity: 0;
  text-align: center;
  width: 100%;
  p {
    margin: .3rem 0;
  }
}

