@import '../../../../global-styles/_variables';

.imageDescription {
  font-family: $primary-font;
  font-weight: 400;
  margin: 1rem 0;
  .imageDescription__title,
  .imageDescription__author {
    margin: .3rem 0;
    strong {
      font-weight: bold;
    }
  }
}

