@import '../../../../global-styles/_variables';

.scoresTable {
  font-size: .8rem;
  margin: 0 auto;
  max-width: 80%;
  min-width: 700px;
  max-height: 80vh;
  overflow-y: auto;
  ul {
    list-style-type: none;
    margin: 0;
    li {
      display: inline-block;
      width: 25%;
      text-align: center;
    }
  }
  thead {
    background-color: $accent-color;
    color: $primary-color-light;
  }
  th {
    padding: .8rem;
  }
  tbody {
    tr:nth-of-type(2n) {
      background-color: lighten($primary-color,20%);
    }
  }
  td {
    padding: .2rem .8rem;
  }
}
