$primary-color: #00FFBB;
$secondary-color: #6C1BAD;
$strong-accent-color: #C44272;
$soft-accent-color: #FFDE43;
$neutral-background-color: #fff;
$dark-font-color: #070D14;
$light-font-color: #fff;

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Anton', sans-serif;

$bradius: 5%;

//$color: #439F76;
//$color: #439F76;


