$primary-color-dark:   #616161;
$primary-color:        #9E9E9E;
$primary-color-light:  #F5F5F5;
$primary-color-text:   #212121;
$accent-color:         #FF5252;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$primary-font: 'Lato', sans-serif;
$secondary-font: 'Oswald', sans-serif;

$bradius: 4px;
$box-shadow: 2px 2px 2px rgba(0,0,0,0.5);


