@import '_variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  color: $primary-color-text;
  font-family: $primary-font;
  font-size: 100%;
}

#root {
  height: 100%;
}
