@import '../../../global-styles/_variables';

.mainNavigation {
  align-items: center;
  background: $primary-color-dark;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  ul {
    display: inline-flex;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.logo {
  > a, a:active, a:visited {
    color: $primary-color-light;
    font-family: $secondary-font;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
  }
}

.mainNavigation__link {
  font-family: $secondary-font;
  font-size: 1.5rem;
  font-weight: bold;
  height: 100%;
  overflow: hidden;
  position: relative;
  &::before {
    background-color: $accent-color;
    bottom: -100%;
    content: '';
    height: 100%;
    position: absolute;
    transition: transform .7s;
    width: 100%;
    z-index: 0;
  }
  &:hover::before {
    transform: translateY(-100%);
  }
  a, a:visited {
    color: $primary-color-light;
    display: block;
    height: 100%;
    left: 0;
    padding: 0 1.5rem;
    position: relative;
    text-decoration: none;
    width: 100%;
    z-index: 1;
  }
}
