@import '../../../global-styles/_variables';

.introWrapper {
  align-items: center;
  background-image: url('../../../assets/images/Vincent_van_Gogh_-_Wheatfield_with_crows.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: center;
  transition: all 1s;
  width: 100%;
}

.header {
  background-color: $neutral-background-color;
  font-family: $secondary-font;
  font-size: 2rem;
  padding: .5rem 1rem;
  text-align: center;
  width: 30%;
}

.comment {
  color: lighten($dark-font-color,40%);
}

.batPixel {
  border: 1px solid #fff;
  height: 4rem;
  position: absolute;
  width: 3rem;
  &.batPixel__1 {
    background-color: lighten(#305F99,10%);
    left: 5%;
    top: 10%;
  }
  &.batPixel__2 {
    background-color: lighten(#336097,10%);
    left: 40%;
    top: 20%;
  }
  &.batPixel__3 {
    background-color: #9F8559;
    left: 3%;
    bottom: 15%;
  }
  &.batPixel__4 {
    background-color: #A28113;
    left: 25%;
    bottom: 20%;
  }
  &.batPixel__5 {
    background-color: #305F99;
    right: 30%;
    top: 10%;
  }
}

.ctaButton {
  background-color: $neutral-background-color;
  border: 1px solid transparent;
  color: $strong-accent-color;
  cursor: pointer;
  font-family: $secondary-font;
  font-size: 2.5rem;
  margin-top: .5rem;
  outline: none;
  width: 10rem;
  &:hover {
    background-color: $strong-accent-color;
    border: 1px solid #fff;
    color: $light-font-color;
    transform: scale(1.1);
    transition: transform 1s;
  }
}
