@import '../../global-styles/_variables';

.pageContainer {
  display: grid;
  grid-template-areas: 'header' 'mainContent' 'footer';
  grid-auto-rows: 7vh auto 5vh;
  height: 100%;
  overflow: hidden;
}
