@import '../../global-styles/_variables';

.pageContainer {
  display: grid;
  grid-template-areas: 'header' 'mainContent' 'footer';
  grid-auto-rows: 3rem auto 3rem;
  height: 100%;
  overflow: hidden;
}
