@import '../../../../global-styles/_variables';

.hintArea {
  background-color: rgba($accent-color,.4);
  border-radius: $bradius;
  opacity: 0;
  position: absolute;
  transition: transform 1.5s, opacity 2s;
}
