@import '../../../global-styles/_variables';

.boardContainer {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

canvas {
  &:hover {
    cursor: pointer;
  }
}

.canvasWrapper {
  height: 70vh;
  text-align: center;
}

.img {
  height: 100%;
  width: auto;
}

.activePixel {
  background-color: #00FFBB;
  position: absolute;
}
