@import '../../global-styles/variables';

.mainFooter {
  align-items: center;
  background: #000;
  color: $light-font-color;
  display: flex;
  flex-flow: row nowrap;
  font-size: .8rem;
  height: 5%;
  justify-content: space-between;
  max-height: 100px;
  padding: 0 2rem;
}

.socialMediaIcons__item {
  margin-left: 1rem;
  img {
    width: 1.3rem;
  }
  &:hover {
    color: #00FFBB;
  }
}
