@import '../../../global-styles/variables';

.fieldContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 1rem;
  label {
    margin-right: 1rem;
    text-align: right;
    width: 30%;
  }
  .input, .select, .textarea {
    color: $primary-color-text;
    border-radius: $bradius;
    border: 1px solid $primary-color-text;
    padding: .3rem;
    width: 60%;
  }

  option {
    color: $primary-color-text;
  }

  .inputNumber {
    width: 90%;
  }
}

.validationText {
  font-size: .8rem;
  padding-right: 3rem;
  text-align: right;
  width: 100%;
}
