@import '../../../global-styles/_variables';

.button {
  border: 2px solid $primary-color-light;
  border-radius: $bradius;
  box-shadow: $box-shadow;
  color: $primary-color-light;
  cursor: pointer;
  margin: 0 .5rem;
  min-width: 7rem;
  outline: none;
  overflow: hidden;
  padding: .5rem 1rem;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
  &::before {
    background-image: linear-gradient(-45deg, transparent 0%, transparent 30%, rgba(256,256,256,0.3) 50%, transparent 70%, transparent 100%);
    border-radius: $bradius;
    bottom: 0;
    content: '';
    height: 100%;
    left: 100%;
    position: absolute;
    transition: transform .7s;
    width: 100%;
    z-index: -1;
  }
  &:hover::before {
    transform: translateX(-200%);
  }
  &--accent {
    background-color: $accent-color;
  }
  &:disabled {
    background-color: $primary-color;
  }
}

