@import '../../../global-styles/_variables';

.mainFooter {
  align-items: center;
  background: #000;
  color: $secondary-text-color;
  display: flex;
  flex-flow: row nowrap;
  font-family: $primary-font;
  font-size: .8rem;
  grid-area: footer;
  justify-content: space-between;
  max-height: 100px;
  padding: 0.5rem 2rem;
}

.socialMediaIcons {
  align-items: center;
  display: inline-flex;
  position: relative;
}

.socialMediaIcons__item {
  align-items: center;
  color: $primary-color-light;
  display: flex;
  height: 100%;
  margin-left: 1rem;
  width: 1.5rem;
  &:hover {
    color: $accent-color;
  }
}
